Host gitlab {{ hostvars[groups['gitlab'][0]]['inventory_hostname'] }}
 HostName {{ hostvars[groups['gitlab'][0]]['inventory_hostname'] }}
 User {{ srv_user }}
 IdentityFile {{ srv_key_path }}

Host {{ srv_vpc_cidr | regex_replace('(\.0)+\/[1-9]{2}','.*') }}
 StrictHostKeyChecking no

Host {{ srv_public_subnet_cidr | regex_replace('(\.0)+\/[1-9]{2}','.*') }}
 ProxyCommand ssh -t -W %h:%p gitlab -F ./ssh.cfg
 User {{ srv_user }}
 IdentityFile {{ srv_key_path }}

Host {{ srv_private_subnet_cidr | regex_replace('(\.0)+\/[1-9]{2}','.*') }}
 ProxyCommand ssh -t -W %h:%p gitlab -F ./ssh.cfg
 User {{ srv_user }}
 IdentityFile {{ srv_key_path }}

Host *
 ControlMaster   auto
 ControlPath     ~/.ssh/mux-%r@%h:%p
 ControlPersist  15m
